<template>
  <div class="row q-ma-md">
    <div class="col-xs-12 col-sm-12 col-md-3 q-pa-sm">
      <div class="text-secondary title">Openingsuren</div>
      <openingsuren></openingsuren>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 q-pa-sm">
      <div class="text-secondary title">Locatie</div>
      <google-map></google-map>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 q-pa-sm">
      <div class="text-secondary title">Contacten</div>
      <contacts></contacts>
    </div>
  </div>
</template>

<script>
import Openingsuren from '../pages/Openingsuren'
import GoogleMap from '../pages/GoogleMap'
import Contacts from '../pages/Contacts'

export default {
  name: 'About',
  components: {
    Openingsuren,
    GoogleMap,
    Contacts
  }
}
</script>

<style scoped>
.title {
  font-size: 28px;
}
</style>
