<template>
  <div class="container">
    <q-card class="my-card q-my-sm">
      <q-item class="card-top">
        <q-item-section avatar>
          <q-avatar>
            <img src="statics/logo.png" />
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label>Breakpoint Bistro</q-item-label>
          <q-item-label caption>{{ date }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-card-section>
        <q-item-label class="text-h5 text-blue">{{ title }}</q-item-label>
        <q-item-label class="text-subtitle2">{{ content }}</q-item-label>
      </q-card-section>

      <q-card-section v-if="image != null" class="photo">
        <img
          class="full-width"
          :src="'data:image/png;base64,' + image.imageBytes"
        /> </q-card-section
      ><q-card-actions align="right">
        <q-btn
          v-if="isAdmin"
          round
          dense
          flat
          icon="delete"
          color="negative"
          size="14px"
          @click="$emit('blog-delete', blogId)"
        />
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'Blog',
  props: ['blogId', 'image', 'title', 'content', 'date'],
  computed: {
    isAdmin () {
      return this.$store.getters['server/isLoggedIn']
    }
  }
}
</script>

<style scoped>
.card-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.my-card {
  width: 100%;
}
</style>
