<template>
  <div>
    <div class="q-mb-lg">
      <q-avatar class="bg-grey-2" icon="phone" size="lg" text-color="blue-14" />
      <a href="tel:03-425 94 76" class="text-black text-h5 q-pa-sm"
        >03/425.94.76</a
      >
    </div>
    <div class="text-primary text-h5">
      <q-avatar
        icon="location_on"
        size="lg"
        text-color="red"
        class="bg-grey-2"
      />
      <a
        href="https://www.google.com/maps?ll=51.165097,4.409002&z=14&t=m&hl=nl&gl=US&mapclient=embed&q=Edegemsesteenweg+100+2610+Antwerpen"
        class="text-black text-h5 q-pa-sm"
      >
        Edegemsesteenweg 100 bus 5 2610 Antwerpen (Wilrijk)</a
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'Contacts'
}
</script>
