<template>
  <div><iframe
      width="100%"
      height="384"
      src="https://maps.google.com/maps?width=100%&height=600&hl=nl&q=Edegemsesteenweg%20100%2C%202610%20Antwerpen+(Break%20Point)&ie=UTF8&t=&z=14&iwloc=B&output=embed"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
    ><a href="https://www.mapsdirections.info/nl/maak-een-google-map/">Maak een Google Map</a> van <a href="https://www.mapsdirections.info/nl/">Nederland Kaart</a></iframe>
  </div>
</template>

<script>
export default {
  name: 'Map'
}
</script>
