<template>
  <div align="center" class="container">
    <div v-if="isAdmin" class="bg-secondary q-pa-sm q-my-md">
      <q-input type="file" @change="onFileChanged" style="max-width : 500px">
        <template v-slot:append>
          <q-btn
            text-color="primary"
            class="bg-white"
            flat
            icon-right="fas fa-upload"
            label="Upload"
            @click="onUpload"
          />
        </template>
      </q-input>
    </div>
    <div>
      <q-carousel
        swipeable
        animated
        v-model="slide"
        infinite
        arrows
        thumbnails
        height="inherit"
      >
        <q-carousel-slide
          v-for="i in images"
          :key="i"
          :name="i"
          :img-src="getUrl(i)"
        >
          <template>
            <div v-if="isAdmin" align="right">
              <q-btn
                round
                dense
                flat
                icon="delete"
                color="negative"
                size="14px"
                class="bg-white"
                @click="deleteImage(i)"
              />
            </div>
            <q-img class="foto" :src="getUrl(i)" />
          </template>
        </q-carousel-slide>
      </q-carousel>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Images',
  meta: {
    title: 'Breakpoint',
    titleTemplate: title => `${title} - Foto's`
  },
  data () {
    return {
      slide: null,
      fullscreen: false,
      thumbnails: false,
      selectedImage: null,
      data: null,
      images: []
    }
  },
  computed: {
    isAdmin () {
      return this.$store.getters['server/isLoggedIn']
    }
  },
  created () {
    this.loadImages()
  },
  methods: {
    onFileChanged (event) {
      this.selectedImage = event.target.files[0]
    },
    onUpload () {
      this.data = new FormData()
      this.data.append('section', 'gallery')
      this.data.append('file', this.selectedImage)
      this.$store.dispatch('server/uploadImage', this.data)
    },
    async loadImages () {
      this.images = await this.$store.dispatch('server/getAllImages', 'gallery')
      this.slide = this.images[0]
    },
    deleteImage (id) {
      let toRemove = this.images.findIndex(img => img === id)
      this.$store.dispatch('server/deleteImage', id).then(res => {
        if (res.status === 202) {
          this.images.splice(toRemove, 1)
        }
      })
    },
    getUrl (id) {
      return this.$store.getters['server/getUrl'] + '/images/getImage/' + id
    },
    sleep (ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    }
  }
}
</script>
<style scoped>
@media (min-width: 800px) {
  .container {
    padding: 50px 100px;
    max-width: 1000px;
    margin: auto;
  }
}
.foto {
  opacity: 0;
}
.q-carousel {
  width: inherit;
}
</style>
