<template>
  <div>
    <div v-for="image in images" :key="image.id">
      <q-img :src="getUrl(image)" class="foto">
        <div v-if="isAdmin" class="deleteBtn">
          <q-btn
            round
            dense
            flat
            icon="delete"
            color="negative"
            size="14px"
            class="bg-white"
            @click="deleteImage(image)"
          />
        </div>
        <div class="photo-container absolute-center">
          <div class="photo">
            <q-img src="../statics/breakpointlogo.png" />
          </div>
          <div class="moto">
            <div class="word">PLAY</div>
            <div class="bullet">&#8226;</div>
            <div class="word">EAT</div>
            <div class="bullet">&#8226;</div>
            <div class="word">DRINK</div>
          </div>
        </div>
      </q-img>
    </div>
    <div v-if="isAdmin" class="bg-primary q-pa-sm q-my-md">
      <q-input type="file" @change="onFileChanged" style="max-width : 500px">
        <template v-slot:append>
          <q-btn
            text-color="secondary"
            class="bg-warn"
            flat
            icon-right="fas fa-upload"
            label="Upload"
            @click="onUpload"
          />
        </template>
      </q-input>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Index',
  meta: {
    title: 'Breakpoint Bistro'
  },
  data () {
    return {
      images: [],
      data: null
    }
  },
  computed: {
    isAdmin () {
      return this.$store.getters['server/isLoggedIn']
    }
  },
  created () {
    this.loadImages()
  },
  methods: {
    onFileChanged (event) {
      this.selectedImage = event.target.files[0]
    },
    onUpload () {
      this.data = new FormData()
      this.data.append('section', 'home')
      this.data.append('file', this.selectedImage)
      this.$store.dispatch('server/uploadImage', this.data).then(() => {
        console.log('DONE')
      })
    },
    async loadImages () {
      this.images = await this.$store.dispatch('server/getAllImages', 'home')
      this.slide = this.images[0]
    },
    deleteImage (id) {
      let toRemove = this.images.findIndex(img => img === id)
      this.$store.dispatch('server/deleteImage', id).then(res => {
        if (res.status === 202) {
          this.images.splice(toRemove, 1)
        }
      })
    },
    getUrl (id) {
      return this.$store.getters['server/getUrl'] + '/images/getImage/' + id
    },
    sleep (ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    }
  }
}
</script>

<style scoped>
.deleteBtn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.photo-container {
  width: 100%;
  margin: auto;
}
.photo {
  margin: auto;
  max-width: 500px;
}
.moto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.word {
  font-size: 32px;
}
.bullet {
  padding: 0px 20px;
  font-size: 32px;
}

@media (max-width: 800px){
  .word {
    font-size: 24px;
  }
  .bullet {
    font-size: 24px;
  }
  .photo {
    max-width: 300px;
  }
}

</style>
