<template>
  <div></div>
</template>

<script>
export default {
  meta: { title: 'Breakpoint', titleTemplate: title => `${title} - Menu` },
  data () {
    return {}
  }
}
</script>
<style scoped></style>
