<template>
  <q-page class="container">
    <div v-if="isAdmin" class="blog-content q-mb-md">
      <div class="text-h2 text-secondary q-pa-sm" align="center">Add new post</div>

      <div class="bg-secondary q-pa-md">
        <div class="text-h3">Titel</div>
        <q-input v-model="title" bg-color="white" dense />
        <div class="text-h3">Content</div>
        <q-input v-model="content" bg-color="white" dense type="textarea" />

        <q-input type="file" @change="onFileChanged" />
        <q-btn @click="onUpload()" class="bg-black text-secondary">Upload!</q-btn>
      </div>
    </div>
    <div v-for="blog in blogs" :key="blog.id" :id="blog.id">
      <Blog
        :blogId="blog.blogId"
        :image="blog.image"
        :title="blog.title"
        :content="blog.content"
        :date="blog.date"
        @blog-delete="onBlogDelete"
      ></Blog>
    </div>
  </q-page>
</template>

<script>
import BlogService from '../services/BlogService'
import Blog from '../pages/Blog'
export default {
  name: 'Nieuws',
  meta: { title: 'Breakpoint', titleTemplate: title => `${title} - Nieuws` },
  components: { Blog },
  data () {
    return {
      blogId: null,
      data: null,
      selectedImage: null,
      imageData: null,
      title: '',
      content: '',
      date: String,
      blogs: []
    }
  },
  created () {
    this.blogService = new BlogService()
    this.loadBlogs()
  },
  computed: {
    isAdmin () {
      return this.$store.getters['server/isLoggedIn']
    }
  },
  methods: {
    onFileChanged (event) {
      this.selectedImage = event.target.files[0]
    },
    onUpload () {
      this.data = new FormData()
      this.data.append('title', this.title)
      this.data.append('content', this.content)
      this.data.append('image', this.selectedImage)
      this.$store.dispatch('server/createBlog', this.data).then(res => {
        let image = ''
        if (res.image) {
          image = { imageBytes: res.image.imageBytes }
        } else {
          image = null
        }
        let newBlog = {
          blogId: res.blogId,
          title: res.title,
          content: res.content,
          date: res.date,
          image: image
        }
        this.blogs.unshift(newBlog)
      })
    },
    onBlogDelete (id) {
      let toRemove = this.blogs.findIndex(b => b.blogId === id)
      this.$store.dispatch('server/deleteBlog', id).then(() => {
        this.blogs.splice(toRemove, 1)
      })
    },
    async loadBlogs () {
      this.blogs = await this.$store.dispatch('server/getAllBlogs')
    }
  }
}
</script>

<style scoped>
.blog-content {
  max-width: 800px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
}
@media (max-width: 800px) {
  .container {
    width: 100%;
  }
}
</style>
