<template>
  <div class="container">
      <q-table
        :data="data"
        :columns="columns"
        row-key="name"
        hide-bottom
        :pagination.sync="pagination"
      />
  </div>
</template>

<script>
export default {
  name: 'Openingsuren',
  data () {
    return {
      pagination: {
        sortBy: 'desc',
        descending: false,
        page: 1,
        rowsPerPage: 10
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Dag',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          classes: 'bg-accent ellipsis',
          headerClasses: 'bg-blue-2'
        },
        { name: 'Uren', align: 'left', label: 'Uren', field: 'uren', headerClasses: 'bg-blue-2 text-primary' }
      ],
      data: [
        {
          name: 'Maandag',
          uren: '10u - 24u'
        },
        {
          name: 'Dinsdag',
          uren: '10u - 14u; 18u - 24u'
        },
        {
          name: 'Woensdag',
          uren: '10u - 24u'
        },
        {
          name: 'Donderdag',
          uren: '10u - 24u'
        },
        {
          name: 'Vrijdag',
          uren: '10u - 24u'
        },
        {
          name: 'Zaterdag',
          uren: '10u - 24u'
        },
        {
          name: 'Zondag',
          uren: '10u - 24u'
        }
      ]
    }
  }
}
</script>
