<template>
  <q-layout view="hHh lpR lff" class="bg-warn">
    <q-header elevated class="text-white header">
      <q-toolbar class="toolbar container bg-info">
        <q-btn flat dense to="/">
          <!-- <q-img src="statics/images/logo.png" class="logo" /> -->
          <img src="statics/images/logo.png" class="logo" />
        </q-btn>
        <q-space />
        <q-tabs
          align="center"
          active-color="white"
          class="tabs"
          indicator-color="secondary"
          no-caps
          narrow-indicator
          breakpoint="0"
        >
          <div v-for="tab in tabs" :key="tab.id" class="tab">
            <q-route-tab :to="tab.url">{{ tab.name }}</q-route-tab>
          </div>
          <q-route-tab v-if="loggedIn" to="/logout">Logout</q-route-tab>
        </q-tabs>
        <q-space />
        <q-icon
          class="fab fa-facebook-square social"
          style="font-size: 2.0em;"
        />
        <div class="hamburger">
          <q-space />
          <q-btn flat round icon="menu" class="text-white" @click="toggle()" />
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      side="right"
      behavior="mobile"
      elevated
      :width="200"
      v-model="drawer"
    >
      <div class="cross" @click="toggle()">
        <q-avatar>
          <q-icon class="fas fa-times" />
        </q-avatar>
      </div>
      <q-tabs
        align="center"
        inline-label
        active-color="red"
        narrow-indicator
        class="text-info"
        v-for="tab in tabs"
        :key="tab.id"
        v-model="tab1"
        dense
      >
        <q-route-tab :to="tab.url">{{ tab.name }}</q-route-tab>
      </q-tabs>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer class="bg-primary text-secondary q-pt-lg">
      <div class="flex flex-center column">
        <p class="text-body1">&copy; Breakpoint 2021</p>
        <p class="text-body1">Creator: Ivaylo Deshev</p>
      </div>
    </q-footer>
  </q-layout>
</template>

<script>
export default {
  data () {
    return {
      drawer: false,
      tab1: '',
      tabs: [
        { id: 0, url: '/', name: 'Home' },
        { id: 1, url: '/nieuws', name: 'Nieuws' },
        { id: 2, url: '/images', name: "Foto's" },
        { id: 3, url: '/menu', name: 'Menu' },
        { id: 4, url: '/about', name: 'About' }
      ]
    }
  },
  methods: {
    toggle () {
      this.drawer = !this.drawer
    }
  },
  computed: {
    loggedIn () {
      return this.$store.getters['server/isLoggedIn']
    }
  }
}
</script>

<style scoped>
.tabs {
  margin: auto;
}
.tab {
  font-size: 1.2rem;
  width: 128px;
}
.logo {
  max-width: 150px;
  margin: 42px;
}
.hamburger {
  display: none;
}

.cross {
  display: flex;
  justify-content: flex-end;
}
.social {
  margin: 10px;
}
@media (max-width: 800px) {
  .container .hamburger {
    display: flex;
    flex-direction: row;
  }
  .tabs {
    display: none;
    font-family: Helvetica;
  }
  .logo {
    margin: 20px;
  }

  /* @media (max-width: 600px){
    .header {
      height: 140px;
    }
  } */
}
</style>
