<template>
  <q-page class="bg-light-green row justify-center q-pa-xl">
    <div class="column">
      <div class="row">
        <h5 class="text-h5 text-white q-my-md">Breakpoint</h5>
      </div>
      <div class="row">
        <q-card class="q-pa-lg shadow-1">
          <q-card-section>
            <q-form
              class="q-gutter-md"
              @submit="onSubmit"
            >
              <q-input
                square
                filled
                clearable
                v-model="username"
                type="username"
                label="username"
              />
              <q-input
                square
                filled
                clearable
                v-model="password"
                type="password"
                label="password"
              />
              <q-space />
              <q-btn
                unelevated
                color="light-green-7"
                size="lg"
                style="width : 280px"
                label="Login"
                type="submit"
              />
            </q-form>
            <div
              v-if="serverError"
              class="text-red q-pa-sm"
            >{{ serverError }}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      username: '',
      password: '',
      serverError: ''
    }
  },
  methods: {
    onSubmit () {
      this.serverError = ''
      this.$store.dispatch('server/retrieveToken', {
        username: this.username,
        password: this.password
      })
        .then(response => {
          this.$router.push('/')
        })
        .catch(error => {
          this.serverError = error.response.data.message
        })
    }
  }
}
</script>

<style>
.q-card {
  width: 360px;
}
</style>
