<template>
  <q-page class="bg-light-green row justify-center q-pa-xl">
    <div class="column">
      <div class="row">
        <h5 class="text-h5 text-white q-my-md">Breakpoint</h5>
      </div>
      <div class="row">
        <q-card class="q-pa-lg shadow-1">
          <q-card-section>
            <q-form
              class="q-gutter-md"
              @submit="onSubmit"
            >
              <q-input
                square
                filled
                clearable
                v-model="username"
                type="username"
                label="username"
                :rules="[ val=>val.length > 5 || 'Username must be minumum 6 characters']"
              />
              <q-input
                square
                filled
                clearable
                v-model="password"
                type="password"
                label="password"
                :rules="[ val=>val.length > 5 || 'Password must be minumum 6 characters']"
              />
              <q-input
                square
                filled
                clearable
                v-model="code"
                type="password"
                label="code"
                :rules="[val => !!val || 'Code is required']"
              />
              <q-space />
              <q-btn
                unelevated
                color="light-green-7"
                size="lg"
                style="width : 280px"
                label="Register"
                type="submit"
              />
            </q-form>
            <div
              v-if="serverMessage"
              :class="'text-'+color+ ' q-pa-sm'"
            >{{ serverMessage }}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Register',
  data () {
    return {
      username: '',
      password: '',
      code: '',
      serverMessage: '',
      color: 'red'
    }
  },
  methods: {
    onSubmit () {
      this.serverMessage = ''
      this.$store.dispatch('server/register', {
        username: this.username,
        password: this.password,
        code: this.code
      })
        .then(res => {
          this.serverMessage = 'Registration successful!'
          this.color = 'green'
          this.$router.push('login')
        })
        .catch(error => {
          this.serverMessage = error.response.data.message
          this.color = 'red'
        })
    }
  }
}
</script>

<style>
.q-card {
  width: 360px;
}
</style>
